body {
    background-color: rgb(218, 218, 218);
}
* {
    color: white;
}
.progress-ring__circle {
    transition: stroke-dashoffset 0.35s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .h2-primary {
        @apply font-bold text-3xl mb-5 border-2 border-white rounded-3xl text-center bg-[#79261d];
    }
    .h2-primary-res {
        @apply font-semibold text-2xl border border-white rounded-lg mb-3 text-center bg-[#79261d];
    }
    .btn-primary {
        @apply rounded-lg bg-green-500 p-2 mt-1;
    }
    .btn-danger {
        @apply rounded-lg bg-red-600 p-2 mt-1;
    }
    .secondary-section {
        @apply h-auto bg-slate-950 mx-16 rounded-3xl my-10 content-center shadow-2xl shadow-black;
    }
    .input-admin {
        @apply border-2 border-black rounded-lg pl-5 ml-5 bg-slate-400 w-2/5 text-center;
    }
    .form {
        @apply m-5 flex flex-col justify-evenly items-center;
    }
    .container {
        @apply mx-3 my-5 border-white border rounded-3xl shadow-lg shadow-red-500;
    }
    .navbar-md{
        @apply bg-slate-950 flex items-center justify-between;
    }
}
